<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bibliothèque de l'école de Boursonne{% endblock %}</title>
        <link rel="stylesheet" href="/BibliothequeEcole/public/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/BibliothequeEcole/public/css/main.css">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script src="/BibliothequeEcole/public/js/BiblioEcole.js" async></script>
</html>